* {
    margin: 0px;
    padding: 0px;
}

.page1 {
    background-position: center;
    background-size: cover;
}

.left {
    position: absolute;
    top: 5px;
    left: 100px;
}

.middle {
    position: absolute;
    top: 30px;

}

.middle li {
    display: block;
    margin: -5px;
   
}

.right {
    position: top;
    top: 375px;
    right: 130px;
    margin: 10px 0px;
}

.right li {
    display: block;
}

.heading {
    position: absolute;
   
    left: 5px;
}

.heading h1 {
    margin-top: 200px;
    font-size: 40px;

}

.page2 {
    height: 3000px;
}

.page2inside {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    flex-direction: column;
    align-items: center;
    
}
.photo{
    padding: 15px 0px;
}

.page3 {
    height: fit-content;
}

.page3container {
    flex-direction: column;
    align-items: center;
}

.details {
    margin: 20px 0px;
}

.page3 h1 {
    padding: 50px;
}
